.body{
  background-color: var(--background);
  width: 100%;
  height: 100%;
}

.menuPressedContainer {
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  backdrop-filter: blur(6px);
  transform: scale(1.1);
  overflow: hidden;
  position: absolute;
  z-index: 2;
  margin: auto;
}

